{% extends "base.html" %}
{% load socialaccount %}
{% block content %}
<div class="container">
  <div class="card pad auth-container">
    <h2 class="auth-form-title">Přihlášení</h2>
    <form method="post" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="auth-form-fields">
        {{ form.login.label_tag }}
        {{ form.login }}
        {{ form.password.label_tag }}
        {{ form.password }}
      </div>
      <div class="auth-form-actions">
        <button class="btn primary" type="submit">Přihlásit</button>
        <a class="btn" href="{% url 'account_signup' %}">Registrace</a>
      </div>
    </form>
    <hr class="auth-divider">
    <div>
      <a class="btn" href="{% provider_login_url 'microsoft' method='oauth2' %}">Přihlásit se přes Microsoft</a>
    </div>
  </div>
</div>
{% endblock %}
